<!-- about.njk -->
<div class="columned">
  <div class="column">
    <h3 class="column-heading">How They Met</h3>
    <p>Tyler and Jennifer both joined eHarmony because their schooling left them too busy to have <em>proper</em> social lives. Jennifer joined the site in February 2015 and, a few weeks later, noticed Tyler was one of her matches. She thought <strong>he was cute</strong>, and he thought she was cute.</p>
    <p>After being <u>matched</u>, they started talking on the phone and/or Skyping every night. During their conversations, they noticed they both came from similar upbringings: went to Catholic high schools, still involved in church, had close relationships with their families, <strong class="small-caps">love</strong> SEC football (she loves the Razorbacks, he loves Mizzou), in pursuit of their respective doctorates (she, her Pharm.D. he, his Ph.D.), and proud owners of <em>slightly</em> introverted personalities.</p>
    <p>They felt they got along so well that Tyler decided to come to <strong>Little Rock</strong> in March 2015 to see if they could have the same connection when talking in person. They met up at the Chick-fil-A in Little Rock (Jennifer’s favorite spot) and spent the rest of the day <u>talking and exploring hot spots in Little Rock</u>, like Two Rivers Park and The River Market.</p>
    <p>One month later, when Jennifer was visiting Tyler in St. Louis, Tyler asked her to be his girlfriend. They spent the next year continuing to get to know each other by traveling to see each other once a month and <em>Skyping</em> while they were apart.</p>
  </div>
  <div class="column">
    <h3 class="column-heading">How He Popped the Question</h3>
    <p>Jennifer had an idea something might happen the weekend of her birthday, February 20th 2016. Tyler was in town in Little Rock and when she got off work early Tyler said he was <u>already</u> eating lunch with her dad.</p>
    <p>The next day, Tyler and Jennifer had just gotten home from a walk around the neighborhood when Tyler said, “I want to look at that <strong>scrapbook</strong> you’ve been making!” Now, Jennifer had been keeping a scrapbook with memories and pictures from all the times she and Tyler would visit each other on weekends. But Jennifer was confused why Tyler was so excited about this, though she agreed to go on her family’s back porch and look through the book.</p>
    <p>During this time, they talked about their favorite memories and the <em>journey</em> they had taken together during that year of dating. When they got to the last page, Tyler said, “I want to keep making memories with you.”</p>
    <p>He lifted his hand from the last page of the book to reveal a <strong class="small-caps">ring</strong> under one of the picture pockets. Jennifer kept staring at the ring with her mouth hanging open until Tyler said, “Well...do you want to put it on?” Jennifer quickly came to her senses and handed the ring to Tyler.</p>
    <p>He proceeded to get down on one knee and asked Jennifer to marry him. Of course,  <u>Jennifer said YES</u>! They hugged and cried together before going inside to tell Jennifer’s family and call Tyler’s family. When they were inside they found that Tyler’s family had even sent a <em>care package</em> for them, with lots of goodies to celebrate their engagement.</p>
  </div>
</div>
