<h2 class="venue-title">St. Edward's Catholic Church</h2>
<div class="image-container venue-picture">
  <img class="shadowed" src="img/Church_outside.jpg" />
</div>
<p class="venue-info">
  Mass begins at <strong>6:00pm</strong><br/>
  801 Sherman St. Little Rock, AR 72202
</p>
<a class="action-button venue-action" href="https://goo.gl/maps/THWPSvshMh72" target="_blank">Get Directions</a>
