<p>We've arranged for some accomodations for you at special rates. There are rooms close to the reception venue at both the Homewood Suites Hilton and the Marriott Residence Inn. Click either button below to be taken straight to booking a room.</p>
<div class="hotel-buttons">
  <a id="hilton" class="action-button" href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/L/LITDWHW-LMW-20170428/index.jhtml?WT.mc_id=POG" target="_blank">Homewood Suites</a>
  <a id="marriott" class="action-button" href="http://cwp.marriott.com/litrd/lmwo/" target="_blank">Residence Inn</a>
</div>
