<h2 class="venue-title">Junior League of Little Rock</h2>
<div class="image-container venue-picture">
  <img class="shadowed" src="img/Reception_outside.jpg" />
</div>
<p class="venue-info">
  Doors open at <strong>7:00pm!!!</strong><br/>
  401 Scott St. Little Rock, AR 72201
</p>
<a class="action-button venue-action" href="https://goo.gl/maps/Veqz4r28sqn" target="_blank">Get Directions</a>
