<p class="text-center">Click on either store icon below to be taken directly to our registry lists!</p>
<div class="registry-links">
  <a id="bedbathbeyond" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543784968&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" class="svg-holder registry-link" target="_blank">
    {% include "svgs/bedbathbeyond.svg" %}
  </a>
  <div id="dillards" class="registry-link">
    <form id="dillards-registry-form" action="https://www.dillards.com/registry/RegistryNames.do" method="post">
      <a href="javascript:;" onclick="document.getElementById('dillards-registry-form').submit();" class="svg-holder">
        {% include "svgs/dillards.svg" %}
      </a>

      <input type="hidden" name="forwardRegNum" value="130241136" />
      <input type="hidden" name="forwardRegType" value="01" />
      <input type="hidden" name="forwardDispName" value="Jennifer McDowell and Tyler Lawrence" />
      <input type="hidden" name"forwardNonTrad" value="" />
      <input type="hidden" name="forwardEventDate" value="April 29, 2017" />
      <input type="hidden" name="forwardEventCityState" value="Little Rock, AR" />
      <input type="hidden" name="forwardOption" value="I" />
      <input type="hidden" name="forwardType" value="I" />
      <input type="hidden" name="errMsgVal" value="0" />
      <input type="hidden" name="firstName" value="(min. first 2 letters)" />
      <input type="hidden" name="lastName" value="(min. first 2 letters)" />
      <input type="hidden" name"eventState" value="" />
      <input type="hidden" name="regNum" value="(9 digit number)" />
    </form>
  </div>
</div>
