<div class="registry-links">
  <a id="bedbathbeyond" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=eventType=Wedding&registryId=543784968&pwsurl=" class="svg-holder registry-link" target="_blank">
    {% include "svgs/bedbathbeyond.svg" %}
  </a>
  <form id="dillards-registry-link" action="https://www.dillards.com/registry/RegistryNames.do" method="post">
    <a id="dillards" href="javascript:;" onclick="document.getElementById('dillards-registry-link').submit();" class="svg-holder registry-link">
      {% include "svgs/dillards.svg" %}
    </a>
    <input type="hidden" name="forwardRegNum" value="130241136" />
    <input type="hidden" name="forwardRegType" value="01" />
    <input type="hidden" name="forwardDispName" value="Jennifer McDowell and Tyler Lawrence" />
    <input type="hidden" name"forwardNonTrad" value="" />
    <input type="hidden" name="forwardEventDate" value="April 29, 2017" />
    <input type="hidden" name="forwardEventCityState" value="Little Rock, AR" />
    <input type="hidden" name="forwardOption" value="I" />
    <input type="hidden" name="forwardType" value="I" />
    <input type="hidden" name="errMsgVal" value="0" />
    <input type="hidden" name="firstName" value="(min. first 2 letters)" />
    <input type="hidden" name="lastName" value="(min. first 2 letters)" />
    <input type="hidden" name"eventState" value="" />
    <input type="hidden" name="regNum" value="(9 digit number)" />
  </form>
</div>
