#party {
  background-color: @god-rays;
  max-width: 100%;
}

.party-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto;
}

.party-group-title {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  i {
    flex-basis: 100%;
    text-align: center;
    padding: 0 1rem;
  }

  @media (min-width: @tablet) {
    flex-wrap: nowrap;
    flex-direction: row;

    i {
      flex-basis: auto;
      text-align: left;
    }
  }
}

.party-member-wrapper {
  padding: 0 1rem 1rem;
}

.party-member-name {
  text-align: center;
  line-height: 1rem;
}

.party-member-photo {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.party-member-info {
  text-align: center;
  font-size: .9rem;
}

.party-group:not(#ushers) {
  // Necessary? Is it necessary that I drink my own urine?
  // No but it's sterile and I like the taste.
  .party-members {
    display: flex;
    flex-wrap: wrap;
  }

  .party-group-title {

    @media (min-width: @tablet) {
      justify-content: flex-end;
    }
  }

  .party-member {

    &:first-child {
      flex-basis: 100%;

      .party-member-wrapper {
        padding: 0 2rem 2rem;
      }
    }

    @media (min-width: @tablet) {
      flex-basis: 50%;
      height: 460px;

      .party-member-photo {
        height: 250px;
        width: 250px;
      }
    }
  }
}

#bridesmaids {

  @media (min-width: @tablet) {
    flex-basis: 50%;

    .party-members {
      justify-content: flex-end;
    }
  }
}

#groomsmen {

  @media (min-width: @tablet) {
    flex-basis: 50%;

    .party-group-title {
      flex-direction: row-reverse;
    }
  }
}

#ushers .party-members {

  @media (min-width: @tablet) {
    display: flex;
  }
}
