.registry-links {
  display: flex;
}

.svg-holder {
  display: block;
  height: 100%;
  width: 100%;
}

.registry-link {
  flex: 0 0 50%;
  text-align: center;
}

#dillards-logo,
#dillards-registry-form {
  height: 100%;
  width: 100%;
}
